<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>여행 상세 화면</title>
    <link rel="stylesheet" href="css/headerCss.css">
</head>
<body>
<br>
<div th:replace="~{/common/navigation :: headerFragment}"></div>

    <h2>예약 상세 페이지</h2>
    <table border="solid">
        <caption>예약 상세 내용</caption>
        <th>여정 번호</th>
        <th>출발 일자</th>
        <th>출발지</th>
        <th>도착지</th>
        <tr>
            <td th:text="${flight.flight_no}"></td>
            <td th:text="${flight.dep_time}"></td>
            <td>
                <th:block th:each="airport : ${airports}" >
                    <th:block th:if="${airport.airport_no == flight.departure}">
                        [[ ${airport.airport_name} ]]
                    </th:block>
                </th:block>
            </td>
            <td>
                <th:block th:each="airport : ${airports}" >
                    <th:block th:if="${airport.airport_no == flight.destination}">
                        [[ ${airport.airport_name} ]]
                    </th:block>
                </th:block>
            </td>
        </tr>
    </table>
    </br>
    <hr>
    <h5> 좌석 선택</h5>
    <form action="/reservationCommit">
        <th:block th:each="s, sIndex : ${seats}">
            <th:block th:if="${s.isAvailable.equals('n')}">
                <input type="radio" th:value="${sIndex.index+1}" disabled checked>
                [[${sIndex.index+1}]] [[${s.booking_class}]]  [[${s.price}]]원
                <br>
            </th:block>
            <th:block th:unless="${s.isAvailable.equals('n')}">
                <input type="radio" name="seat_no" th:value="${sIndex.index+1}">
                [[${sIndex.index+1}]] [[${s.booking_class}]]  [[${s.price}]]원
                <br>
            </th:block>
        </th:block>

        <button type="submit" id="access" th:value="${reservDisable}">제출</button>
        <input type="hidden" name="flight_no" th:value="${flight.flight_no}">
    </form>
</body>
<script>
    document.getElementById("access").addEventListener('click',reservDupCheck);
    function reservDupCheck(){

            if(document.getElementById("access").getAttribute('value') != null)
             alert(document.getElementById("access").getAttribute('value'));
    }
</script>

</html>