<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예약 완료 페이지</title>
    <link rel="stylesheet" href="css/headerCss.css">
</head>
<body>
<br>
<div th:replace="~{/common/navigation :: headerFragment}"></div>

<h1>예약이 정상적으로 완료 되었습니다.</h1><br><br><br>
<h4>예약 상세 내역</h4>
예약 번호: [[${reservation_no}]]<br>

여정 번호: [[${flight.flight_no}]]<br>
출발 일자: [[${flight.dep_time}]]<br>
출발지: <th:block th:each="airport : ${airports}" >
    <th:block th:if="${airport.airport_no == flight.departure}">
        [[ ${airport.airport_name} ]]
    </th:block>
</th:block><br>
도착지: <td>
    <th:block th:each="airport : ${airports}" >
        <th:block th:if="${airport.airport_no == flight.destination}">
            [[ ${airport.airport_name} ]]
        </th:block>
    </th:block>
</td><br>
좌석 번호: [[${seat_no}]]<br>
<a href="/">메인으로 돌아가기</a>
</body>
</html>