<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Asiana_lab.model.dao.BoardDao">
    <select id="findAll" resultType="Board">
        SELECT *
        FROM "Board"
        ORDER BY "board_no"
    </select>

    <select id="selectOneByNo" parameterType="int" resultType="Board">
        SELECT *
        FROM "Board"
        WHERE "board_no" = #{board_no}
    </select>

    <select id="findAllByBoard" parameterType="int" resultType="Comment">
        SELECT *
        FROM "Comment"
        WHERE "BOARD_NO" = #{board_no}
        ORDER BY "COMMENT_NO"
    </select>

    <select id="findUserByBoard" parameterType="int" resultType="User">
        SELECT *
        FROM "User"
        WHERE "user_no" = #{user_no}
    </select>

    <select id="findFilesByBoard" parameterType="int" resultType="File">
        SELECT *
        FROM "File"
        WHERE "BOARD_NO" = #{board_no}
    </select>

    <update id="addCnt" parameterType="int">
        UPDATE "Board"
        SET
            "cnt" = "cnt" + 1

        WHERE "board_no" = #{board_no}
    </update>

    <update id="updateBoard" parameterType="Board">
        UPDATE "Board"
        SET
            "title" = #{title},
            "content" = #{content},
            "reg_date" = TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')

        WHERE "board_no" = #{board_no}
    </update>

    <insert id="insertBoard" parameterType="Board">
        INSERT INTO
                    "Board"("board_no", "title", "content", "user_no", "reg_date")
        VALUES (board_seq.NEXTVAL, #{title}, #{content}, #{user_no}, TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS'))
    </insert>

    <select id="selectListCommenyByNo" parameterType="int" resultType="Board">
        SELECT *
        FROM "Comment"
        WHERE "BOARD_NO" = #{board_no}
    </select>

    <delete id="delete" parameterType="int">
        DELETE
        FROM "Board"
        WHERE "board_no" = #{board_no}
    </delete>

    <delete id="deleteComment" parameterType="int">
        DELETE
        FROM "Comment"
        WHERE "board_no" = #{board_no}
    </delete>
</mapper>