<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.Asiana_lab.model.dao.TicketDao">

    <select id="selectTicketInfo" resultType="Ticket" parameterType="int">
        SELECT * FROM "Reservation" r
        JOIN "Seat" s using("seat_no")
        JOIN "Flight" f using("flight_no")
        WHERE "user_no" = #{user_no}
    </select>
    <delete id="seatCancel" parameterType="Ticket">
        DELETE FROM "Reservation" r
        WHERE "user_no" = #{user_no} AND "resv_no" = #{resv_no}
    </delete>
    <update id="seatIsAvailable" parameterType="Ticket">
        UPDATE  "Seat" s (s."isAvailable") set 'y'
        WHERE "seat_no" =#{seat_no}
    </update>
</mapper>